/target/
/acceloapi/.classpath
/acceloapi/.project
/acceloapi/.settings/org.eclipse.core.resources.prefs
/acceloapi/.settings/org.eclipse.jdt.core.prefs
/acceloapi/.settings/org.eclipse.m2e.core.prefs

/.classpath
/.project
